version: '3.8'
services:
  web:
    image: selcuksan/docker-demo-app:v1
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis
  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"