version: "3.8"
services:
  web:
    image: selcuksan/docker-demo-app:v1
    ports:
      - "5001:5000"
    depends_on:
      - redis
    networks:
      - my-network
  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-veri:/data
    networks:
      - my-network
volumes:
  redis-veri:
    name: redis-veri
networks:
  my-network:
    driver: bridge
